EFI/BOOT
EFI/OC/OpenCore.efi
EFI/OC/Drivers
EFI/OC/Tools
EFI/OC/Kexts/*
!EFI/OC/Kexts/USBMap.kext
!EFI/OC/Kexts/LucyRTL8125Ethernet.kext
EFI/OC/Resources
Utilities/*
!tmp/.gitkeep
tmp
opencore-*.txt
oc*_mac*.tar.gz
oc*_mac*.zip
.Spotlight-V100
.Trashes
.fseventsd
.TemporaryItems
